<div class="w-full">
  <div class="flex h-250">
    <!-- tiltle container -->
    <div class="w-[30%] min-h-[554px] flex justify-center items-center">
      <h2 class="text-7xl text-center ">La saison <br>à <br>Montrouge <br> et <br> hors les murs</h2>
    </div>

    <!-- carousel container -->
    <div class="carousel-container w-[70%] min-h-[700px]">
      <!-- Conteneur principal du carousel -->
      <div class="carousel flex flex-col items-center">

        <!-- Élément actif du carousel -->
        <!-- Légende optionnelle avec la nouvelle syntaxe @if -->
        @if (items[currentIndex]?.title) {
          <div class="caption">
            <h3 class="text-4xl p-4 ">{{ items[currentIndex]?.title }}</h3>
            <p>{{ items[currentIndex]?.description }}</p>
          </div>
        }

        <div class="w-full flex items-center justify-center gap-5  carousel-item active">
          <button class="carousel-control flex items-center justify-center h-12 w-12 text-3xl border-2 rounded-full border-black bg-gray-300 hover:bg-gray-400 prev" (click)="prev()"><</button>

          <!-- Conteneur pour l'image et le lien -->
          <div class="relative group">
            <img [src]="items[currentIndex]?.src"
                 [alt]="items[currentIndex]?.title || 'Image'"
                 class="max-w-300 min-w-280 max-h-190 transition-opacity duration-300 group-hover:opacity-50">

            <!-- Lien centré et caché par défaut -->
            <a [href]="items[currentIndex]?.link"
               class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
      <span class="inline-flex flex bg-white rounded-lg border-4 border-gray-500 px-2 py-2.5 text- black   text-center me-2 mb-2 hover:border-red-700 hover:text-red-700">
        En savoir plus

      </span>
            </a>
          </div>

          <button class="carousel-control flex items-center justify-center text-center h-12 w-12 text-3xl border-2 rounded-full border-black bg-gray-300 hover:bg-gray-400 next" (click)="next()">></button>
        </div>
        <!-- Contrôles de navigation -->



        <!-- Indicateurs de position (points) avec la nouvelle syntaxe @for -->
        @if (items.length > 1) {
          <div class="indicators">
            @for (item of items; track $index) {
              <button
                class="w-4 h-4 mt-4 gap-2 rounded-full border border-gray-600 transition-all duration-300"
                [class]="$index === currentIndex ? 'bg-black' : 'bg-white'"
                (click)="goTo($index)">
              </button>
            }
          </div>
        }
      </div>
    </div>

  </div>
</div>
